img{
  width: 50%;
  background-color: blue;
  display: block;
  border-radius: 5%;
}

.d-flex {
  display: flex;
  justify-content: space-between;
}
.former {
  position: relative;
  left: 5%;
}
.login {
  display: flex;
  margin-top: 20vh;
  background-color: #fbfcf8;
  border-radius: 5%;
}
.labels {
  position: relative;
  background-color: white;
  color: grey;
  z-index:9999999;
  top: 1vw;
  left: 1vw;
}
.forget {
  position: relative;
  left: 0.8vw;
  top: -0.3vw;
}
.remember {
  position: relative;
  top: -0.3vw;
  color: grey;
}
.center {
  text-align: center;
  position: relative;
  left: 45%;
  color: grey;
}
.other-login {
  text-align: center;
}
.other-login > i {
  padding: 1vw;
  background-color: lightgrey;
  margin: 0.5vw;
  border-radius: 5%;
}
.logo {
  width: 20%;
  height: 3vw;
  margin-top: 0.5vw;
  border-radius: 50%;
}
.mynav {
  font-size: 25px;
  margin-top: 4vw;
}
.zoom {
  background-color: white;
  width: 2vw;
  height: 2vw;
}
.admin-pic {
  height: 4vw;
  width: 4vw;
  border-radius: 50%;
  margin-top: 9%;
  position: relative;
  left: -2vw;
}
.zoom-1 {
  position: relative;
  left: -6vw;
  margin-top: 2vw;
}
.logo {
  position: relative;
  left: 3vw;
  margin-top: 1.2vw;
}
.zoom-2 {
  position: relative;
  left: -4vw;
  margin-top: 2vw;
}
.main-board {
  position: relative;
  left: 5vw;
  margin-top: 2vw;
}
.zoom-3 {
  position: relative;
  left: -2vw;
  margin-top: 2vw;
}
.home-nav {
  border-bottom: 2px solid #ccc;
}
.home-content {
  background-color: lightgrey;
}
.user-board {
  width: 49%;
  background-color: white;
  padding: 1vw;
  border-radius: 2%;
}
.std {
  width: 10vw;
  height: 10vw;
  background-color: white;  
}
.tracker {
  display:flex;
  justify-content: space-between;
}
.student_track > img {
  background-color: white;
  width: 100%;
  margin-top: 2vw;
}
.student_track {
  width: 100%;
}
.star-student {
  background-color: white;
  border-radius: 2%;
  padding: 2vw;
}
.top-student {
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
}
.profile-flex {
  display: flex;
}
.m {
  display: flex;
}
td > span {
  position: relative;
  left: 3%;
}
.myaward {
  background-color: white;
  width:3vw;
  height: 3vw;
}
.moved {
  position: relative;
  left: 3%;
  line-height: 1.2;
}
.myline {
  line-height: -2vw;
}
.bg-warning {
  height: 5vw;
  font-weight: bold;
  padding: 1vw;
  border-radius: 2%;
}
.myrelative  {
  position: absolute;
  top: 7vw;
  background-color: white;
  z-index:99999999;
  width: 20vw;
  right: 3vw;
  padding: 12px;
  height: 25vw;
}
.horiz {
  display: flex;
  padding:12px;
  position: relative;
  left: 1vw;
}
.myhori {
  position: relative;
  left: 1vw;
}
.btn-danger {
  position: relative;
  left: 80%;
}
.nav-container {
  margin-top: 1vw;
}
.nav-detail {
  background-color: white;
  z-index:999999999;
  height: 100vh;
  position: fixed;
  width: 40%;
  left: -1vw;
}